@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

*:focus {
  outline: none;
} 

#image {
width:60%;
}

* {
box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {  
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;  
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}